#ignore vscode files
.vscode/**
.vs/
#ignore program output
Src/Img_Processing/*.png
#ignore compiled files
Src/Img_Processing/img_action
Src/gui/gui
*.o
#gui outputs
Src/gui/*.png
Src/gui/temp_split/*
Src/gui/temp_split2/*
neural/database/*jpg
Src/gui/temp_split/split_01.png
